body {
  background-color: #fafafa;
}

.title {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #333;
}

.btn {
  color: #2196f3 !important;
  margin-right: 7px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

#actions {
  padding-left: 23px;
  padding-top: 5px;
}

#help {
  padding-left: 23px;
  padding-top: 5px;
  color: #444;
}

#games > .game {
  border: none;
  width: 170px;
}

img.logo {
  max-height: 40px;
}

.score {
  padding-top: 7px;
  padding-left: 15px;
}